<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="7ab3f528-4ee1-4dce-a04f-d61103895858" name="Regression Test Suite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="7ab3f528-4ee1-4dce-a04f-d61103895858fileName">Regression-Test-Suite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
